body {
  background-image: url('/background.png');
  background-size: cover;       /* 图片铺满 */
  background-repeat: no-repeat; /* 不重复 */
  background-attachment: fixed; /* 固定背景 */
  background-position: center;  /* 居中 */
}
html, body, #app {
  height: 100%;
}

.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.VPContent {
  flex: 1;
}